/*.head {
    background-color: yellow;
}

.name-headline {
    background-color: red;
}

.about {
    background-color: green;
}

.links {
    background-color: blue;
}

.profile-image {
    background-color: purple;
}*/

/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(241, 227, 234);
    background-size: cover;
    font-family: Trebuchet MS, sans-serif;
}

.profile-card {
    width: 360px;
    max-width: calc(100vh - 10px);
    background-color:rgb(215, 115, 160);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

.head, .links {
    text-align: center;
}

.head, .content {
    width: 90%;
}

.name-headline {
    border-bottom: 2px solid #d80e79;
}

.content, .head {
    margin: 0 auto;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.content, .name-headline, .about, .links, .profile-image {
    padding: 2% 2%;
}

.fa-linkedin:hover, .fa-facebook:hover, .fa-instagram:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.about {
    text-align: justify;
    margin-bottom: 2%;
}

.profile-image {
    margin: 2% 0;
}